{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Navbar End -->
{% include 'menu.html' %}
<!-- Header Area wrapper End -->

<!-- Meeiros Area Start -->
{% include 'meeiro.html' %}
<!-- Hero Area End -->

<!-- Lancamentos Section Start -->
{% include 'lancamentos.html' %}
<!-- Services Section End -->

<!-- Lancamentos de venda Section start -->
{% include 'lancamentos-venda.html' %}
<!-- About Section End -->

<!-- CLientes Venda Section Start -->
{% include 'clients-venda.html' %}
<!-- Features Section End -->

<!-- Team Section Start
 include 'team.html'  -->
<!-- Team Section End -->

<!-- Pricing section Start
 include 'price.html' -->
<!-- Pricing Table Section End -->

<!-- Testimonial Section Start
include 'testimonial.html' -->
<!-- Testimonial Section End -->

<!-- Call To Action Section Start
 include 'action.html'  -->
<!-- Call To Action Section Start -->

<!-- Contact Section Start
 include 'contact.html'  -->
<!-- Contact Section End -->

<!-- Footer Section Start -->
{% include 'footer.html' %}
<!-- Footer Section End -->
{% endblock %}
